.row{   
    color:white;
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:transparent;
    color:white;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}
.footer{
 display: flex;
 justify-content:space-between;
}
body{
    background-image: url('https://78.media.tumblr.com/4041e9f54accee2eb348f3a2fb6af207/tumblr_oj7kzs6uit1qeyvpto1_500.gif');
    
    background-size: contain;
}
.outside {
    display: flex;
    flex-direction: column;
    
}